*.iml
.gradle
/.lingma
/.qoder
/local.properties
/.idea/
!/.idea/icon.svg
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/release
/app/release
/app/build
log.txt
*.log
/.kotlin
/.gradle/
.workbuddy
cache