<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="me.huidoudour.event.debug.DebugLogActivity"
            android:exported="false"
            android:label="调试日志" />

        <provider
            android:name="me.huidoudour.event.debug.DebugLogInitProvider"
            android:authorities="${applicationId}.debugloginit"
            android:exported="false" />
    </application>

</manifest>
